<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Save Route?</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="continueCurrentRoute()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Route name:</span>
                <input type="text" ng-model="routeObject.routeName">
            </label>
            <label class="item item-input">
                <span class="input-label">Start:</span>
                <p>{{routeObject.startDate}}</p>
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <p>{{routeObject.endDate}}</p>
            </label>
            <label class="item">
                <button class="button button-block button-balanced" ng-click="saveAndEndRoute()">Save route</button>
            </label>
            <label class="item">
                <button class="button button-block button-energized" ng-click="continueCurrentRoute()">Continue</button>
            </label>
            <label class="item">
                <button class="button button-block button-assertive" ng-click="deleteCurrentRoute()">Delete route</button>
            </label>

        </div>
    </ion-content>
</ion-modal-view>
